<h1>New Cateogory</h1>

<%= form_with(model: @cateogory) do |form| %>
  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="actions">
    <%= form.submit "Save Cateogory" %>
    <%= link_to "Cancel", new_product_path %>
  </div>
<% end %>
