<h1>New Customer</h1>

<%= form_with(model: @customer) do |f| %>
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="actions">
    <%= f.submit "Save Customer" %>
    <%= link_to "Cancel", new_sales_order_path %>
  </div>
<% end %>
