<h1>Products</h1>
<%= link_to 'Add new', new_product_path, class: 'btn btn-primary' %>
<%= link_to 'New Sales Order', new_sales_order_path, class: 'btn btn-primary' %>

<div class="container">
<table class="table-container">
  <thead>
    <tr>
      <th>Name</th>
      <th>Price</th>
      <th>Cateogory</th>
      <th>Inventory</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.name %></td>
        <td><%= product.price %></td>
        <td><%= product.cateogory.name %></td>
        <td><%= product.inventory %></td>
        <td><% if product.image.attached? %>
            <%= image_tag product.image, width: 100 %>
          <% else %>
            <span class="text-muted">No image</span>
          <% end %>
        </td>
        <td>
        <%= link_to 'Delete',
                    product_path(product),
                    data: {
                      turbo_method: :delete,
                      turbo_confirm: 'Are you sure?'}
        %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
