<h1>Add New Product</h1>

<%= form_with(model: @product) do |f| %>
  <div>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div>
    <%= f.label :price %>
    <%= f.number_field :price %>
  </div>

<div class="field">
  <%= f.label :cateogory_id, "Cateogory" %>
  <%= f.collection_select :cateogory_id, Cateogory.all, :id, :name,
                         { prompt: "Select a cateogory" } %>
    or <%= link_to "Add new cateogory", new_cateogory_path %>
</div>

 <div>
    <%= f.label :inventory %>
    <%= f.number_field :inventory %>
  </div>

  <div >
    <%= f.label :image %>
    <%= f.file_field :image %>
  </div>

  <div>
    <%= f.submit "Save Product" %>
  </div>
<% end %>
